# Exercício 1

1. Abra o arquivo Mediçao.xls e transforme-o em DataFrame com a Biblioteca Pandas, este DataFrame deverá ter as seguintes colunas: RecNo, MeaValue, Weight, Time, Date, DataGroupIndex

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Medição.xlsx')

In [3]:
df.head()

   RecNo MeaValue Weight     Time       Date  DataGroupIndex
0   1013     60,8      A  6:39:12  2020-12-7               1
1   1014     60,5      A  6:39:13  2020-12-7               1
2   1015     43,1      A  6:39:14  2020-12-7               1
3   1016     46,8      A  6:39:15  2020-12-7               1
4   1017     46,1      A  6:39:16  2020-12-7               1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268 entries, 0 to 2267
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RecNo           2268 non-null   int64
 1   MeaValue        2268 non-null   object
 2   Weight          2268 non-null   object
 3   Time            2268 non-null   object
 4   Date            2268 non-null   object
 5   DataGroupIndex  2268 non-null   int64
dtypes: int64(2), object(4)
memory usage: 106.4+ KB

Selecionando somente as colunas que iremos precisar.

In [5]:
df = df.iloc[::, [1, 3, 4]]
df.head()

  MeaValue     Time       Date
0     60,8  6:39:12  2020-12-7
1     60,5  6:39:13  2020-12-7
2     43,1  6:39:14  2020-12-7
3     46,8  6:39:15  2020-12-7
4     46,1  6:39:16  2020-12-7

Unindo as colunas Date e Time.

In [6]:
df['date_time'] = df['Date'] + ' ' + df['Time']

In [7]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [8]:
df.head()

  MeaValue     Time       Date           date_time
0     60,8  6:39:12  2020-12-7 2020-12-07 06:39:12
1     60,5  6:39:13  2020-12-7 2020-12-07 06:39:13
2     43,1  6:39:14  2020-12-7 2020-12-07 06:39:14
3     46,8  6:39:15  2020-12-7 2020-12-07 06:39:15
4     46,1  6:39:16  2020-12-7 2020-12-07 06:39:16

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268 entries, 0 to 2267
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MeaValue   2268 non-null   object
 1   Time       2268 non-null   object
 2   Date       2268 non-null   object
 3   date_time  2268 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 71.0+ KB

# Exercício 2

2. Selecione somente os intervalos contínuos de 1 minuto da coluna Time. Exemplo: o script   deve   selecionar   somente   os   intervalos   contínuos   que   se   iniciem   em HH:mm:00 e terminem em HH:mm:59, onde HH (hora) mm (minuto) devem ser os mesmos no intervalo. 
<br>
Dica: descarte os dados não contínuos do DataFrame.

Convertendo o tipo de MeaValue para float para podermos calcular a média.

In [10]:
df['MeaValue'] = df['MeaValue'].str.replace(',','.').astype(float)

Aplicamos o groupby e o grouper para visualizarmos e selecionarmos os intervalos contínuos.

In [11]:
# Aqui vemos que o primeiro intervalo que começa com hh:mm:00 é o 06:41:0
df.groupby(pd.Grouper(key='date_time', freq='1min'))['date_time'].count()

date_time
2020-12-07 06:39:00    24
2020-12-07 06:40:00    13
2020-12-07 06:41:00    60
2020-12-07 06:42:00    60
2020-12-07 06:43:00    60
2020-12-07 06:44:00    60
2020-12-07 06:45:00    45
2020-12-07 06:46:00     0
2020-12-07 06:47:00     0
2020-12-07 06:48:00    34
2020-12-07 06:49:00    32
2020-12-07 06:50:00    60
2020-12-07 06:51:00    60
2020-12-07 06:52:00    60
2020-12-07 06:53:00    60
2020-12-07 06:54:00    60
2020-12-07 06:55:00     8
2020-12-07 06:56:00    35
2020-12-07 06:57:00    60
2020-12-07 06:58:00    60
2020-12-07 06:59:00    60
2020-12-07 07:00:00    60
2020-12-07 07:01:00    43
2020-12-07 07:02:00     0
2020-12-07 07:03:00     9
2020-12-07 07:04:00    60
2020-12-07 07:05:00    60
2020-12-07 07:06:00    60
2020-12-07 07:07:00    60
2020-12-07 07:08:00    29
2020-12-07 07:09:00     0
2020-12-07 07:10:00     0
2020-12-07 07:11:00     0
2020-12-07 07:12:00    47
2020-12-07 07:13:00    60
2020-12-07 07:14:00    60
2020-12-07 07:15:00    43
2020-12-07 07:16:00     0
2020-12-07 07:17:00     0
2020-12-07 07:18:00    47
2020-12-07 07:19:00    60
2020-12-07 07:20:00    32
2020-12-07 07:21:00    60
2020-12-07 07:22:00    60
2020-12-07 07:23:00    23
2020-12-07 07:24:00    27
2020-12-07 07:25:00    60
2020-12-07 07:26:00    60
2020-12-07 07:27:00    60
2020-12-07 07:28:00    55
2020-12-07 07:29:00     0
2020-12-07 07:30:00    53
2020-12-07 07:31:00    60
2020-12-07 07:32:00    60
2020-12-07 07:33:00    49
Freq: T, Name: date_time, dtype: int64

E agora que sabemos o intervalo podemos criar um dataframe com os mesmos e seus respectivos segundos.

In [12]:
segundos = pd.DataFrame(list(zip(df.groupby(pd.Grouper(key='date_time', freq='1min'))['date_time'].count().index, 
                                 df.groupby(pd.Grouper(key='date_time', freq='1min'))['date_time'].count())), 
                        columns=['date_time','Segundos'])
segundos.head()

            date_time  Segundos
0 2020-12-07 06:39:00        24
1 2020-12-07 06:40:00        13
2 2020-12-07 06:41:00        60
3 2020-12-07 06:42:00        60
4 2020-12-07 06:43:00        60

Aplicamos a formatação dt.strftime('%Y-%m-%d %H:%M') para igualar as colunas date_time dos dataframes df e segundos, para unificá-los com o merge posteriormente.

In [13]:
df['date_time'] = df['date_time'].dt.strftime('%Y-%m-%d %H:%M')

In [14]:
df.head()

   MeaValue     Time       Date         date_time
0      60.8  6:39:12  2020-12-7  2020-12-07 06:39
1      60.5  6:39:13  2020-12-7  2020-12-07 06:39
2      43.1  6:39:14  2020-12-7  2020-12-07 06:39
3      46.8  6:39:15  2020-12-7  2020-12-07 06:39
4      46.1  6:39:16  2020-12-7  2020-12-07 06:39

In [15]:
segundos['date_time'] = segundos['date_time'].dt.strftime('%Y-%m-%d %H:%M')

In [16]:
segundos.head()

          date_time  Segundos
0  2020-12-07 06:39        24
1  2020-12-07 06:40        13
2  2020-12-07 06:41        60
3  2020-12-07 06:42        60
4  2020-12-07 06:43        60

In [17]:
df = df.merge(segundos, left_on='date_time', right_on='date_time')
df.head()

   MeaValue     Time       Date         date_time  Segundos
0      60.8  6:39:12  2020-12-7  2020-12-07 06:39        24
1      60.5  6:39:13  2020-12-7  2020-12-07 06:39        24
2      43.1  6:39:14  2020-12-7  2020-12-07 06:39        24
3      46.8  6:39:15  2020-12-7  2020-12-07 06:39        24
4      46.1  6:39:16  2020-12-7  2020-12-07 06:39        24

E agora conseguimos filtrar os intervalos contínuos com o .loc .

In [18]:
df = df.loc[df['Segundos'] == 60]

In [19]:
del df['Segundos']

In [20]:
df.head()

    MeaValue    Time       Date         date_time
37      37.6  6:41:0  2020-12-7  2020-12-07 06:41
38      38.4  6:41:1  2020-12-7  2020-12-07 06:41
39      38.1  6:41:2  2020-12-7  2020-12-07 06:41
40      37.6  6:41:3  2020-12-7  2020-12-07 06:41
41      38.0  6:41:4  2020-12-7  2020-12-07 06:41

# Exercício 3

3. Em  cada  intervalo   selecionado,  faça   a  média  simples   dos  dados  da   coluna MeaValue.

Aqui calculamos a média de acordo com o grupo do mesmo intervalo.

In [21]:
df.groupby(df['date_time'])['MeaValue'].agg('mean')

date_time
2020-12-07 06:41    38.220000
2020-12-07 06:42    37.998333
2020-12-07 06:43    37.133333
2020-12-07 06:44    37.618333
2020-12-07 06:50    38.333333
2020-12-07 06:51    38.558333
2020-12-07 06:52    39.428333
2020-12-07 06:53    40.421667
2020-12-07 06:54    39.851667
2020-12-07 06:57    41.180000
2020-12-07 06:58    42.588333
2020-12-07 06:59    40.201667
2020-12-07 07:00    42.321667
2020-12-07 07:04    55.235000
2020-12-07 07:05    55.886667
2020-12-07 07:06    57.723333
2020-12-07 07:07    53.483333
2020-12-07 07:13    48.895000
2020-12-07 07:14    50.521667
2020-12-07 07:19    49.601667
2020-12-07 07:21    50.245000
2020-12-07 07:22    47.788333
2020-12-07 07:25    52.191667
2020-12-07 07:26    50.835000
2020-12-07 07:27    50.180000
2020-12-07 07:31    55.438333
2020-12-07 07:32    54.538333
Name: MeaValue, dtype: float64

Criamos um dataframe com os dados acima.

In [22]:
media = pd.DataFrame(list(zip(df.groupby(df['date_time'])['MeaValue'].agg('mean').index, 
                              df.groupby(df['date_time'])['MeaValue'].agg('mean'))), 
                     columns=['date_time','ValorMedio'])
media.head()

          date_time  ValorMedio
0  2020-12-07 06:41   38.220000
1  2020-12-07 06:42   37.998333
2  2020-12-07 06:43   37.133333
3  2020-12-07 06:44   37.618333
4  2020-12-07 06:50   38.333333

Conforme as colunas date_time, unimos os dataframes media e df e, por fim, associamos cada média calculada com os integrantes dos respectivos intervalos contínuos.

In [23]:
df = df.merge(media, left_on='date_time', right_on='date_time')

In [24]:
df.head()

   MeaValue    Time       Date         date_time  ValorMedio
0      37.6  6:41:0  2020-12-7  2020-12-07 06:41       38.22
1      38.4  6:41:1  2020-12-7  2020-12-07 06:41       38.22
2      38.1  6:41:2  2020-12-7  2020-12-07 06:41       38.22
3      37.6  6:41:3  2020-12-7  2020-12-07 06:41       38.22
4      38.0  6:41:4  2020-12-7  2020-12-07 06:41       38.22

Criamos uma coluna chamada Hora que já recebe o dado formatado para hora e minuto.

In [25]:
df['Hora'] = pd.to_datetime(df['date_time'])

In [26]:
df['Hora'] = df['Hora'].dt.strftime('%H:%M')

In [27]:
df.head()

   MeaValue    Time       Date         date_time  ValorMedio   Hora
0      37.6  6:41:0  2020-12-7  2020-12-07 06:41       38.22  06:41
1      38.4  6:41:1  2020-12-7  2020-12-07 06:41       38.22  06:41
2      38.1  6:41:2  2020-12-7  2020-12-07 06:41       38.22  06:41
3      37.6  6:41:3  2020-12-7  2020-12-07 06:41       38.22  06:41
4      38.0  6:41:4  2020-12-7  2020-12-07 06:41       38.22  06:41

Renomeamos a coluna Date para Data.

In [28]:
df = df.rename(columns = {'Date':'Data'})
df.head()

   MeaValue    Time       Data         date_time  ValorMedio   Hora
0      37.6  6:41:0  2020-12-7  2020-12-07 06:41       38.22  06:41
1      38.4  6:41:1  2020-12-7  2020-12-07 06:41       38.22  06:41
2      38.1  6:41:2  2020-12-7  2020-12-07 06:41       38.22  06:41
3      37.6  6:41:3  2020-12-7  2020-12-07 06:41       38.22  06:41
4      38.0  6:41:4  2020-12-7  2020-12-07 06:41       38.22  06:41

# Exercício 4

4. Crie um DataFrame com as seguintes colunas: <br>
a) ValorMedio: com o valor médio de cada intervalo; <br>
b) Hora: com a hora correspondente no formato HH:mm; <br>
c) Data: com o dia de medição (presente na coluna Date);

Aqui criamos um dataframe chamado Desafio1 a partir do filtro das colunas Data, ValorMedio e Hora.

In [29]:
Desafio1 = df.iloc[::, [2, 4, 5]]

E então retiramos as linhas duplicadas.

In [34]:
Desafio1 = Desafio1.drop_duplicates()

In [36]:
Desafio1

           Data  ValorMedio   Hora
0     2020-12-7   38.220000  06:41
60    2020-12-7   37.998333  06:42
120   2020-12-7   37.133333  06:43
180   2020-12-7   37.618333  06:44
240   2020-12-7   38.333333  06:50
300   2020-12-7   38.558333  06:51
360   2020-12-7   39.428333  06:52
420   2020-12-7   40.421667  06:53
480   2020-12-7   39.851667  06:54
540   2020-12-7   41.180000  06:57
600   2020-12-7   42.588333  06:58
660   2020-12-7   40.201667  06:59
720   2020-12-7   42.321667  07:00
780   2020-12-7   55.235000  07:04
840   2020-12-7   55.886667  07:05
900   2020-12-7   57.723333  07:06
960   2020-12-7   53.483333  07:07
1020  2020-12-7   48.895000  07:13
1080  2020-12-7   50.521667  07:14
1140  2020-12-7   49.601667  07:19
1200  2020-12-7   50.245000  07:21
1260  2020-12-7   47.788333  07:22
1320  2020-12-7   52.191667  07:25
1380  2020-12-7   50.835000  07:26
1440  2020-12-7   50.180000  07:27
1500  2020-12-7   55.438333  07:31
1560  2020-12-7   54.538333  07:32

# Exercício 5

5. O Desafio deve ser feito em duplas, trios ou individual. O DataFrame deve ser salvo em .xls com o nome de “Desafio1 'seus nomes'.xls” e enviado por slack junto com o script em .ipynb. Todos os passos feitos no script devem estar documentados usando Markdown.

Convertemos o dataframe para um arquivo .xls

In [37]:
Desafio1.to_excel('/content/Desafio1_Esther_Victória.xls', index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.